@using COMP1640.ViewModels.Category.Responses
@model List<InforCategoryResponse>

@*<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

        <div class="col-md-8">

            <div class="search d-flex">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Search here">
                <button class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>*@

<div class="container">
    <div class="pt-3 pb-4 d-block">
        <div class="align-items-center">
            <a class="btn btn-info text-white text-center" id="addCategoryBtn">
                <i class="material-icons text-white">
                    Add
                </i>
            </a>
        </div>
    </div>

    <div id="addCategoryModal" class="modalAddCategory">
        <!-- Modal content -->
        <div class="modal-content bg-dark w-50">
            <span class="close">&times;</span>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <p class="fw-bold text-success mb-2">Add new category</p>
                        <h6 class="fw-bold">Please fill out the blank</h6>
                    </div>
                    <form method="post" asp-action="Create" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input class="form-control"
                                   type="text" name="text" placeholder="Category"
                                   required="required" />
                        </div>
 


           
                     
                        <div class="mb-3">
                            <button class="btn btn-primary shadow d-block w-100" type="submit">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <table class="table table-hover table-bordered table-sencondary">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">-</th>
                    <td>@item.Name</td>

                    <td>
                        <div class="d-flex justify-content-around">
                            <div class="align-items-center">
                                <a class="btn btn-danger text-white text-center" style="cursor:pointer" onclick="">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/category-site.js" asp-append-version="true"></script>
