
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="modal-content bg-dark w-50">
            <span class="close">&times;</span>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <p class="fw-bold text-success mb-2">Add new Idea</p>
                        <h5 class="fw-bold">Please fill out the blank</h5>
                    </div>
                    <form method="post">
                         <div class="mb-3"><input class="form-control" type="text" name="title" placeholder="Title" /></div>
                         <div class="mb-3"><input class="form-control" type="text" name="content" placeholder="Content" /></div>
                         <div class="mb-3"><input class="form-control" type="checkbox" name="content" placeholder="Content" /></div>
                         
                         <div class="mb-3"><button class="btn btn-primary shadow d-block w-100" type="submit">Add</button></div>
                    </form>
                </div>
            </div>  
        </div>
