<ul class="navbar-nav mx-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        if (CurrentUser.RoleId == (int)RoleTypeEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="HRM" asp-action="Index">HRM</a>
            </li>
        }
        else
        {
            <li>
                <a class="nav-link" asp-controller="Home" asp-action="Privacy">Employee</a>
            </li>
        }


        <li class="nav-item">

            <a asp-controller="Personal" asp-action="ViewProfile" style="margin-left:450px" id="view" class="btn btn-primary shadow">Hii  </a>           
      

    </li>

    }
    else
    {
        <li>
            <a class="nav-link" asp-controller="Home" asp-action="Privacy">Customer Page</a>
        </li>
    }
</ul>
