<ul class="navbar-nav mx-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        if (CurrentUser.RoleId == (int)RoleTypeEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="HRM" asp-action="Index">HRM</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="AcademicYear" asp-action="Index">Academic Year</a>
            </li>
        }
        else
        {
            <li>
                <a class="nav-link" asp-controller="Home" asp-action="Privacy">Employee</a>
            </li>
        }


        <li class="nav-item">

        @*<form id="profileView" asp-controller="HRM" asp-action="ViewProfile">*@
            <a asp-controller="HRM" asp-action="ViewProfile" style="margin-left:450px" id="view" class="btn btn-primary shadow">Hi</a>
        @*</form>*@

        @*<a href="@Url.Action("ViewProfile", "HRM", new {id = @item.Id})" class="btn btn-primary text-white text-center">
                                 <i class="bi bi-person"></i>

                                </a>*@

    </li>

    }
    else
    {
        <li>
            <a class="nav-link" asp-controller="Home" asp-action="Privacy">Customer Page</a>
        </li>
    }
</ul>
