<ul class="navbar-nav mx-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        if (CurrentUser.RoleId == (int)RoleTypeEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="HRM" asp-action="Index">HRM</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="Idea" asp-action="Index">Idea</a>
            </li>
        }
        else
        {
            <li>
                <a class="nav-link" asp-controller="Home" asp-action="Privacy">Employee</a>
            </li>
        }
    }
    else
    {
        <li>
            <a class="nav-link" asp-controller="Home" asp-action="Privacy">Customer Page</a>
        </li>
    }
</ul>
