<ul class="navbar-nav mx-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        if (CurrentUser.RoleId == (int)RoleTypeEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="HRM" asp-action="Index">HRM</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="AcademicYear" asp-action="Index">Academic Year</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="Idea" asp-action="Index">Idea</a>
            </li>
        }
        else
        {
            <li>
                <a class="nav-link" asp-controller="Home" asp-action="Privacy">Employee</a>
               @* <a class="nav-link" asp-controller="department" asp-action="viewdepartment">Employee</a>*@
            </li>
            <li>
                <a class="nav-link" asp-controller="Department" asp-action="ViewDepartment">Department</a>
            </li>
        }
    }
    else
    {
        <li>
            <a class="nav-link" asp-controller="Home" asp-action="Privacy">Customer Page</a>
        </li>
    }
</ul>
