<ul class="navbar-nav">
@if (!SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="btn btn-primary shadow"  id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
