<div class="modalAdd" id="versioningModal">
    <!-- Modal content -->
    <div class="modal-content bg-dark w-50">
        <span class="close">&times;</span>
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 col-xl-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-secondary mb-2">Idea Vesioning</p>
                    <h5 class="fw-bold">All the history of Idea</h5>
                </div>
                <div id="Idea-versioning" class="pt-2"></div>
            </div>
        </div>
    </div>
</div>