@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    

    <div id="addIdeaBtn" class="pt-3 pb-4 d-flex">
         <div class="align-items-center">
             <a class="btn btn-info text-white text-center" asp-controller="Idea" asp-action="Create">
                 <i class="material-icons text-white">
                     Add Idea
                 </i>
             </a>
         </div>
     </div>

</div>
